name: Missionary-Zeta GKI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Build Kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/ramabondanp/android_kernel_common-5.10.git
          kernel-dir: common
          kernel-branch: android12-5.10
          config: gki_defconfig
          arch: arm64
          android-version: 15
          aosp-gcc: false
          aosp-clang: true
          aosp-clang-version: r522817
          ksu: true
          ksu-version: master
          ksu-other: true
          ksu-url: https://github.com/RapliVx/KernelSU
          extra-make-args: |
            LLVM=1
            LLVM_IAS=1

            CONFIG_LOCALVERSION=-Missionary-Zeta

            CONFIG_PREEMPT=y
            CONFIG_PREEMPTION=y
            CONFIG_PREEMPT_COUNT=y
            CONFIG_PREEMPT_DYNAMIC=y

            CONFIG_HZ=250
            CONFIG_NO_HZ_IDLE=y
            CONFIG_TICK_ONESHOT=y

            CONFIG_SCHED_AUTOGROUP=y
            CONFIG_SCHED_CORE=y
            CONFIG_SCHED_MC=y
            CONFIG_SCHED_HRTICK=y

            CONFIG_UCLAMP_TASK=y
            CONFIG_UCLAMP_BUCKETS_COUNT=20

            CONFIG_RCU_BOOST=y
            CONFIG_RCU_BOOST_DELAY=500

            CONFIG_ZRAM=y
            CONFIG_ZRAM_STREAMS=4
            CONFIG_ZRAM_DEF_COMP_LZ4=y

            CONFIG_TCP_CONG_BBR=y
            CONFIG_DEFAULT_TCP_CONG=bbr

            CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
            CONFIG_CPU_IDLE=y
            CONFIG_CPU_IDLE_GOV_TEO=y

            CONFIG_KSU=y
            CONFIG_KSU_SYSCALL_HOOK=y

            CONFIG_OPTIMIZE_INLINING=y
            CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y

            CONFIG_SLUB_DEBUG=n
            CONFIG_DEBUG_KERNEL=n
            CONFIG_DEBUG_FS=n
            CONFIG_KPROBES=n
            CONFIG_KRETPROBES=n
          anykernel3: true
